body {
    font: 14px Roboto;
    line-height: 1.4;
    background-color: #262626;
    color: #dadada;
}

a {
    color: #fff;
}

.pagination {
    padding-left: 0;
}
    .pagination > li {
        display: inline;
    }
    .pagination > .disabled > a,
    .pagination > .disabled > span,
    .pagination > .active > a,
    .pagination > .active > span {
        color: #767676;
    }
    .pagination > li > a,
    .pagination > li > span {
        text-decoration: none;
        padding: 6px 12px;
        border: 1px solid #484848;
        margin-left: -1px;
    }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span { margin-left: 0; }
/* /.pagination */

/* largely stolen from plug.dj :O */
.history-list {}
    .history-list .history-list-row {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 75px;
    }
    .history-list img {
        position: relative;
        float: left;
        margin-top: 7px;
        margin-left: 15px;
        width: 80px;
        height: 60px;
    }
    .history-list .meta {
        position: relative;
        margin-right: 10px;
        margin-left: 107px;
        width: auto;
        height: 74px;
    }
        .history-list .meta > * {
            position: absolute;
            top: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
        }
        .history-list .meta .media {
            left: 2px;
            width: 76%;
        }
        .history-list .meta .dj {
            right: 2px;
            width: 20%;
            text-align: right;
        }
        .history-list .meta .time {
            top: 39px;
            right: 2px;
            color: #808691;
            text-align: right;
            font-weight: 400;
        }
    /* /.meta */
    .history-list .score {
        position: absolute;
        top: 39px;
        left: 109px;
        width: 50%;
        height: 24px;
        font-weight: 400;
        font-size: 14px;
    }
        .history-list .score > div {
            position: relative;
            float: left;
            margin-right: 15px;
        }
            .history-list .score > div > * {
                float: left;
                position: relative;
            }
            .history-list .score > div i {
                top: 4px;
                margin-left: -3px;
                margin-right: 5px;
                width: 15px;
                height: 15px;
                background: transparent center center;
            }
        /* /> div */
        .history-list .score .woots { color: #90ad2f; }
            .history-list .score .woots .icon-woot {
                background-image: url(../img/woot.png);
            }
        /* /.woots */
        .history-list .score .grabs { color: #aa74ff; }
            .history-list .score .grabs .icon-grab {
                background-image: url(../img/grab.png);
            }
        /* /.grabs */
        .history-list .score .mehs { color: #c42e3b; }
            .history-list .score .mehs .icon-meh {
                background-image: url(../img/meh.png);
            }
        /* /.mehs */

        .history-list .score .listeners { color: #eeeeee; }
            .history-list .score .listeners .icon-listeners {
                background-image: url(../img/listeners.png);
            }
        /* /.listeners */
    /* /.score */
/* /.history */

.emotes {
    margin: auto;
    margin-bottom: 100px;
}
    .emotes th {
        min-width: 200px;
    }
/* /.emotes */
