body {
    font: 14px Roboto;
    line-height: 1.4;
    background-color: #262626;
    color: #dadada;
}

a {
    color: #fff;
}

.pagination {
    padding-left: 0;
}
    .pagination > li {
        display: inline;
    }
    .pagination > .disabled > a,
    .pagination > .disabled > span,
    .pagination > .active > a,
    .pagination > .active > span {
        color: #767676;
    }
    .pagination > li > a,
    .pagination > li > span {
        text-decoration: none;
        padding: 6px 12px;
        border: 1px solid #484848;
        margin-left: -1px;
    }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span { margin-left: 0; }
/* /.pagination */

.media-list {
    max-width: 800px;
}

/* largely stolen from plug.dj :O */
.media-item {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 75px;
}
.media-item-image {
    position: relative;
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    width: 80px;
    height: 60px;
}
.media-item-meta {
    position: relative;
    margin-right: 10px;
    margin-left: 107px;
    width: auto;
    height: 74px;
}
    .media-item-meta > * {
        position: absolute;
        top: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
    }
    .media-item-meta .media {
        left: 2px;
        width: 76%;
    }
    .media-item-meta .dj {
        right: 2px;
        width: 20%;
        text-align: right;
    }
    .media-item-meta .time {
        top: 39px;
        right: 2px;
        color: #808691;
        text-align: right;
        font-weight: 400;
    }
    .media-item-meta .playcount {
        left: 2px;
        top: 39px;
        width: 76%;
    }
/* /.media-item-meta */

.media-score {
    position: absolute;
    top: 39px;
    left: 109px;
    width: 50%;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
}
.media-score-type {
    position: relative;
    float: left;
    margin-right: 15px;
}
    .media-score-type > * {
        float: left;
        position: relative;
    }
    .media-score-type i {
        top: 4px;
        margin-left: -3px;
        margin-right: 5px;
        width: 15px;
        height: 15px;
    }
/* .media-score-type */
.media-score-woots     { color: #90ad2f; }
.media-score-grabs     { color: #aa74ff; }
.media-score-mehs      { color: #c42e3b; }
.media-score-listeners { color: #eeeeee; }

/* clearfix */
.media-thumbs::after {
    display: table;
    content: " ";
    clear: both;
}
.media-thumb {
    display: block;
    float: left;
    width: 130px;
    height: 120px;
}
.media-thumb-image {
    width: 120px;
    margin: 0 5px;
    display: block;
}
.media-thumb-title {
    width: 120px;
    margin: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.icon-woot {
    background-image: url(../img/woot.png);
}
.icon-grab {
    background-image: url(../img/grab.png);
}
.icon-meh {
    background-image: url(../img/meh.png);
}
.icon-listeners {
    background-image: url(../img/listeners.png);
}

.emotes {
    margin: auto;
    margin-bottom: 100px;
}
    .emotes th {
        min-width: 200px;
    }
/* /.emotes */
